{% extends "base.html" %}
{% block content %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Arther</th>
        <th>CreateTime</th>
        <th>UPdateTime</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.content }}</td>
            <td>{{ article.create_timestamp|date:"Y-m-d P" }}</td>
            <td>{{ article.last_update_timestamp|date:"Y-m-d P" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}