<head>
    <meta charset="utf-8"/>
    <title>Mage Tech Inc. Forum</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
</head>

<body>
<div class="container-fluid">
    <dev class="row show-grid">
        <div class="col-xs-12 col-md-12">
            <h1>Mega Tech Inc.  Hello World (Forum)!</h1>
        </div>
    </dev>

    <div class="row show-grid">
        {% for b in blocks %}
          <div class="col-xs-12">
                <div class="col-md-4">{{ b.name  }}</div>
                <div class="col-md-4">{{ b.desc }}</div>
                <div class="col-md-1">{{ b.manager_name }}
          </div>
       {% endfor%}
    </div>

</div>

</body>