<head>
    <meta charset="utf-8"/>
    <title>Mage Tech Inc. Forum</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
</head>

<body>
<div class="bs-docs-header" id="content" tabindex="=1">
    <div class="container">
        <dev class="row">
            <div class="col-xs-12 col-md-12">
                <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <h1 class="display-4">Mega Tech Inc. Forum</h1>
                    <p class="lead">This is a forum which for Mega software user discuss and feedback.</p>
                  </div>
                </div>
            </div>
        </dev>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            {% for b in blocks %}
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-50 justify-content-between">
                              <h5 class="mb-1">{{ b.name  }}</h5>
                              <small>{{ b.manager_name }}</small>
                        </div>
                        <p class="mb-1">The laster topic :Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>{{ b.desc }}</small>
                    </a>
                </div>
            {% endfor%}
        </div>
    </div>

</div>

</body>